@model IEnumerable<WebBanHangOnline.Models.EF.OrderDetail>
<div class="row">
    <div class="col-12 col-md-12">
        <h3>Danh sách sản phẩm</h3>
        
    </div>
    <div class="col-12">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Products.Title</td>
                        <td>@WebBanHangOnline.Common.FormatNumber(item.Price,2)đ</td>
                        <td>@WebBanHangOnline.Common.FormatNumber(item.Quantity)</td>
                        <td>@WebBanHangOnline.Common.FormatNumber(item.Quantity * item.Price)đ</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
